*, *::after, *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: "Signika Negative", sans-serif;
    font-weight: 300;
    border: 5px solid wheat;
    width: 100%;
    text-align: center;
    margin: 0 auto;
    background-image: url("../imagenes/Colours.png");
    background-size: 100px;
    z-index: -1;
}

.titulo {
    padding-top: 0.2em;
    padding-bottom: 4em;
    margin-bottom: 1em;
    /* text-align: center;
    position: fixed;
    width: 100%; */
    /* z-index: -1; */
    display: inline-block;
    width: 100%;
}

/* .titulo:not(.logo1, .logo2) {
    text-align: center;
} */

.wrapper {
    /* margin-left: 100px;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(50px, auto); */
    margin-top: 3.5em;
    /* text-align: center;
    position: sticky; */
    width: 100%;
    font-size: 1em;
    display: inline-block;
}

.logo1 {
    /* grid-column: 1 / 3;
    grid-row: 1; */
    border-radius: 20px;
    display: inline-block;
    text-align: left;
    vertical-align: top;
    width: 15%;
    height: auto;
    max-width: 65px;
    margin-top: 0.5em;
    margin-right: 0%;
    z-index: 1; 
}

.LaPizzeria {
    /* grid-column: 2 / 3;
    grid-row: 1; */
    background-color: gold;
    border-radius: 1em;
    padding: 0.2em;
    display: inline-block;
    width: 70%;    
    text-align: center;
    vertical-align: top;
}

span {
    color:green;
    margin-bottom: 3em;
}

.logo2 {
    /* grid-column: 1 / 3;
    grid-row: 1; */
    border-radius: 20px;
    visibility: hidden;
    display: inline-block;
    text-align: right;
    vertical-align: top;  
    width: 15%;
    height: auto;
    max-width: 5px;
    margin-top: 0.5em;
    margin-left: 10%;
    z-index: 1;
}

/* h1 {
    color: red;
    padding: 0.5em;
} */

/* h2 {
    font-size: 3em;
    text-align:center;
} */

/* h2 {
    grid-column: 2 / 3;
    grid-row: 2;
} */

.elpedido {
    font-size: 3em;
    text-shadow: 2px 4px aqua;    
}

main {
    background-image: url("../imagenes/fondo_pizza.jpeg");
    background-size: 500px;
    height: auto;
    width: 100%;
    padding-bottom: 1%;
}

/**************************************************/
/**************************************************/
/**************************************************/
/**************************************************/

/* width */
::-webkit-scrollbar {
    width: auto;
}

/* Track */
::-webkit-scrollbar-track-piece {
    background: black;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: green;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: red;
}

html, body {
    overflow-x: hidden;
    scrollbar-color: green black;
    scrollbar-width: auto;
}

/**************************************************/
/**************************************************/
/**************************************************/
/**************************************************/

/* .pizzas {
    margin-left: 10px;
    margin-right: 10px;
    padding:5em;
    margin-top:2em;
    display:flex;
    flex-wrap: wrap;
    list-style: none;
    display:block;
    background-color: wheat;
    border-radius: 15px;
    font-size: 1.3em;
}

.pizzas_1, .pizzas_2 {
    margin-left: 200px;
    font-size: 1em;
} */

.carta {
    padding: 2em;
    margin-top: 50px;
    background-color: wheat;
    border-radius: 10px;
    font-size: 20px;
    text-align: left;
    display:grid;
    list-style: none;
    grid-template-columns: repeat(2);
}

.pizza_carta {
    width: 300px;
    border-radius: 10px;
}

.carta_pizzas {
    grid-column: 1 / 2;
    grid-row: 1;
}

.carta_pizzas p {
    padding: 2px;
}

.imagen_pizzas {
    grid-column: 2 / 2;
    grid-row: 1;
}

.tamaño {
    margin-left: 20px;
    margin-right: 20px;
    padding:2em;
    padding: 3em;
    list-style: none;
    display:block;
    background-color: wheat;
    border-radius: 15px;
    font-size: 1.3em;
}

select, label {
    margin-top: 20px;
    background-color: wheat;
    border-radius: 15px;
}


form {
    margin-top: 20px;
    margin-left: 20px;
    margin-right:20px;
    grid-template-columns: repeat(auto-fit,200px, 1fr);
}

.pedido, .pedido2, .pedido3 {
    border-radius: 15;
    text-align: center;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3em;
}

.realizar {
    margin-left: 700px;
    padding:2em;
    background-color: aqua;
    border: 2px solid black;
    margin-bottom: 2em;
    font-size: large;
    border-radius: 15px;
}

.realizar:hover {
    color: red;
    background-color: white;
}

li {
    padding: 2em;
    text-align: left;
}

label {
    margin-bottom: 20px;
    text-align: left;
    padding:2em;
}

.clientito {
    list-style: none;
    background-color: wheat;
    border-radius: 15px;
    font-size: 1.3em;
}

.realizar_oferta {
    size: 3em;
}

.escoger_bebida {
    margin-right: 440px;
}

fieldset {
    border-radius: 15px;
    margin-bottom: 50px;
}

input [type="text"], textarea {
    width:100%;
}

legend {
    font-size: x-large;
    color: white;
}

textarea[id="Otros"] {
    resize:vertical;
}

textarea [id="Dirección"] {
    resize:none;
}


@import url("file:///media/cfgs1/MANGEL/CGS%201/PRO/Trabajo%20Final%20CGS1/Pizzeria%20LND/Pizzas.html");
*,
*:before,
*:after {
    box-sizing: border-box;
    position: relative;
    letter-spacing: 0.04em;
}

.section {
    height: 100vh;
    width: 100%;
    position: relative;
    padding: 0;
    text-align: center;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bg1 {
    background-color: #ccc;
}

.bg2 {
    background-color: #333;
}

h1 {
    font-size: 40px;
    line-height: 1.2;
    margin: 0;
}
.revealUp {
    opacity: 0;
    visibility: hidden;
}
.spacer {
    height: 50vh;
    background-color: #000;
}

header {
    width: 100%;
    height:100%;
  }
  
  header {
      background: linear-gradient(-45deg, lightyellow, wheat, grey);
      background-size: 400% 400%;
      animation: gradient 15s ease infinite;
  }
  
@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

  @import url("file:///media/cfgs1/MANGEL/CGS%201/PRO/Trabajo%20Final%20CGS1/Pizzeria%20LND/Pizzas.html");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
  
header {
    display: flex;
    min-height: 30vh;
    align-items: center;
    justify-content: center;
}
  
.titulo {
    position: relative;
}

.titulo h1 {
    margin-top: 50px;
    color: red;
    font-size: 3em;
    position: absolute;
    transform: translate(-50%, -50%);
}
  
.titulo h1:nth-child(1) {
    color: transparent;
    -webkit-text-stroke: 2px red;
}
  
.titulo h1:nth-child(2) {
    color: red;
    animation: animate 4s ease-in-out infinite;
}
  
@keyframes animate {
    0%,
    100% {
    clip-path: polygon(
        0% 45%,
        16% 44%,
        33% 50%,
        54% 60%,
        70% 61%,
        84% 59%,
        100% 52%,
        100% 100%,
        0% 100%
      );
}
  
    50% {
      clip-path: polygon (
        0% 60%,
        15% 65%,
        34% 66%,
        51% 62%,
        67% 50%,
        84% 45%,
        100% 46%,
        100% 100%,
        0% 100%
      );
    }
}

.titulo h1 {
    color: green;
    font-size: 3em;
    position: absolute;
    transform: translate(-50%, -50%);
}
  
.titulo span:nth-child(1) {
    color: transparent;
    -webkit-text-stroke: 2px green;
}
  
.titulo:nth-child(2) {
    color: green;
    animation: animate 4s ease-in-out infinite;
}
  
@keyframes animate {
    0%,
    100% {
      clip-path: polygon(
        5% 45%,
        16% 44%,
        33% 50%,
        54% 60%,
        70% 61%,
        84% 59%,
        100% 52%,
        100% 100%,
        0% 100%
      );
}
  
    50% {
      clip-path: polygon(
        0% 60%,
        15% 65%,
        34% 66%,
        51% 62%,
        67% 50%,
        84% 45%,
        100% 46%,
        100% 100%,
        0% 100%
      );
    }
}

@media (max-width: 768px) {
    .titulo_texto {
        display:flex;
    }

    .pizzas label {
        list-style: none;
        display: flex;
        font-size: 15px;
    }
    .pizzas_1 label {
        flex: 1 1 0;
    }

    .carta {
        font-size: 10px;
    }
}