*, *::after, *::before {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
    border: 0%;
    font-family: "Signika Negative", 
    sans-serif;
}

body {
    background-image: url(
        "../imagenes/Colours.png"
    );
    background-size: 100px;
    border: 5px solid gold;
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 0%;
    /* font-weight: 300; */
    font-family: "Signika Negative", 
    sans-serif;
    z-index: -1;
}

.titulo {
    display: inline-block;
    text-align: center;
    width: 100%;
    min-height: 10vh;
    max-height: auto;
    margin-top: 0em;
    margin-bottom: 0.7em;
    margin-left: 0em;
    margin-right: 0em;
    padding-top: 1em;
    padding-bottom: 0.5em;
    padding-right: 0em;
    padding-left: 0em;
    font-size: 1.5em;
    border-bottom-left-radius: 4em;
    border-bottom-right-radius: 4em;
}

.titulo {
    background: linear-gradient(
        -45deg, green, wheat, red
    );
    background-size: 400% 400%;
    animation: gradient 5s ease infinite;
}
  
@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

/****************************************************************************************************/
/****************************************************************************************************/
/****************************************************************************************************/
/****************************************************************************************************/

.logo1 {
    border-radius: 20px;    
    display: inline-block;
    text-align: left;
    vertical-align: top;
    width: 25%;
    max-width: 80px;
    height: auto;
    margin: 0em;
    padding: 0em;
    z-index: 1; 
}

.la_pizzeria {
    background-color: gold;
    border: 6px solid goldenrod;
    border-radius: 1em;
    display: inline-block;
    text-align: center;
    vertical-align: top;
    width: 70%;
    height: auto;
    margin: 0em;
    padding: 10px;
    font-style: italic;
}

.span1 {
    color:red;
}

.span2 {
    color:green;
}

.logo2 {
    visibility: hidden;
    border-radius: 20px;
    display: inline-block;
    text-align: right;
    vertical-align: top;
    width: 5%;
    max-width: 5px;
    height: auto;
    margin-top: 0.5em;
    margin-left: 10%;
    z-index: 1;
}

/****************************************************************************************************/
/****************************************************************************************************/
/****************************************************************************************************/
/****************************************************************************************************/

/* width */
::-webkit-scrollbar {
    width: auto;
}

/* Track */
::-webkit-scrollbar-track-piece {
    background: black;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: green;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: red;
}

html, body {
    overflow-x: hidden;
    scrollbar-color: green black;
    scrollbar-width: auto;
}

/****************************************************************************************************/
/****************************************************************************************************/
/****************************************************************************************************/
/****************************************************************************************************/

.elpedido {
    text-align: center;
    text-shadow: 2px 3px aqua;
    font-size: 2em;
    margin-bottom: 0.8em;
}

main {
    background-image: url(
        "../imagenes/fondo_pizza.jpeg"
    );
    background-size: 500px;
    /* text-align: center; */
    width: 100%;
    height: auto;
    padding-bottom: 1%;
    padding-right: 2em;
}

.formulario_uno {
    display: inline-block;
    /* text-align: center; */
    width: 100%;
    height: auto;
    margin-top: 20px;
    margin-bottom: 0px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 0%;
}

fieldset {
    display: inline-block;
    /* text-align: center; */
    width: 100%;
    height: auto;
    margin-top: 0px;
    margin-bottom: 40px;
    margin-left: 0px;
    margin-right: 40px;
    padding: 0px;
}

.menu_pizzas, .menu_pizzas3 {
    border-color: gold;
    border-width: 5px;
    border-radius: 2.7em;
}

.menu_pizzas3 {
    margin-left: 1em;
    margin-right: 0.2em;
}

select {
    background-color: wheat;
    margin-top: 0em;
    margin-bottom: 0em;
    margin-left: 0em;
    margin-right: 0em;
    padding: 0em;
    font-weight: bold;
    font-size: 1.5em;
}

label {
    background-color: wheat;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 0px;
    margin-right: 0px;
    padding: 0px;
    font-weight: bold;
    font-size: 1.5em;
}

@media screen and (max-width: 768px) {
    .menu_pizzas3 {
        margin-left: 1em;
        margin-right: 0.2em;
    }

    select {
        background-color: wheat;
        margin-top: 0em;
        margin-bottom: 0em;
        margin-left: 0em;
        margin-right: 0em;
        padding: 0em;
        font-weight: bold;
        font-size: 80%;
    }
    
    label {
        background-color: wheat;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 0px;
        margin-right: 0px;
        padding: 0px;
        font-weight: bold;
        font-size: 1em;
    }    
}

/****************************************************************************************************/
/****************************************************************************************************/
/****************************************************************************************************/
/****************************************************************************************************/

.primera_parte {
    display: grid;
    /* grid-template-columns: 
    20% 20% auto;
    grid-template-rows: auto; */
    width: 100%;
    height: auto;
    margin-top: 0em;
    margin-left: 0em;
    margin-right: 0em;
    margin-bottom: 0.5em;
    padding: 0%;
}

.container_titulo1 {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    text-align: left;
    grid-column: 1;
    grid-row: 1;
    width: fit-content;
    height: fit-content;
    margin-top: 1em;
    margin-left: 0em;
    margin-right: 0em;
    margin-bottom: 0em;
    padding-top: 0em;
    padding-bottom: 0em;
    padding-left: 0em;
    padding-right: 0em;
    
}

.pedido1 {
    color: red;
    background-color: gold;
    border-radius: 2em;
    display: inline-block;
    text-align: left;
    grid-column: 1;
    grid-row: 1;
    width: 3.35em;
    height: fit-content;
    margin-top: 0px;
    margin-bottom: 0em;
    margin-left: 0.6em;
    margin-right: 0em;
    padding-top: 0em;
    padding-bottom: 0em;
    padding-left: 0.2em;
    padding-right: 0.2em;
    font-size: 2.5em;
    font-family: Arial, 
    Helvetica, sans-serif;
    text-shadow: 2px 3px black;
}

.pedido2 {
    color: red;
    background-color: gold;
    border-radius: 2em;
    display: inline-block;
    text-align: left;
    width: 3.95em;
    height: fit-content;
    margin: 0em;
    padding-top: 0em;
    padding-bottom: 0em;
    padding-left: 0.2em;
    padding-right: 0.2em;
    font-size: 2.5em;
    font-family: Arial, 
    Helvetica, sans-serif;
    text-shadow: 2px 3px black;
}

.legend2 {
    color: red;
    background-color: gold;
    border-radius: 2em;
    display: inline-block;
    text-align: left;
    width: fit-content;
    height: fit-content;
    margin: 0em;
    padding-top: 0em;
    padding-bottom: 0em;
    padding-left: 0.2em;
    padding-right: 0.2em;
    font-size: 2.5em;
    font-family: Arial, 
    Helvetica, sans-serif;
    text-shadow: 2px 3px black;
}

.la_pizza {
    border: 2px solid red;
    border-radius: 1em;
    display: inline-block;
    text-align: left;
    grid-column: 1;
    grid-row: 2;
    width: auto;
    height: fit-content;  
    margin-top: 0em;
    margin-bottom: 0em;
    margin-left: 1em;
    margin-right: 0em;
    padding: 0.5em;
    text-decoration: underline;
}

.escoger_pizzas {
    border: 2px solid red;
    border-radius: 1em;
    display: inline-block;
    text-align: left;
    grid-column: 2;
    grid-row: 1; 
    width: auto;
    height: fit-content;
    margin-top: 2.6em;
    margin-bottom: 0em;
    margin-left: 0.6em;
    margin-right: 0em;
    padding-top: 0.4em;
    padding-bottom: 0.4em;
    padding-left: 0.4em;
    padding-right: 0.4em; 
}

.menu_pizzas2 {
    display: inline-block;
    text-align: left;
    grid-column: 3;
    grid-row: 1;
    width: 93%;
    height: auto;
    margin-top: 1em;
    margin-bottom: 0em;
    margin-left: 6%;
    margin-right: 0em;
    padding: 0em;
}

@media screen and (max-width: 768px) {
    .primera_parte {
        display: grid;
        width: 100%;
        height: auto;
        margin-top: 0em;
        margin-left: 0em;
        margin-right: 0em;
        margin-bottom: 0.5em;
        padding: 0%;
        
    }
    
    .container_titulo1 {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto;
        text-align: left;
        grid-column: 1;
        grid-row: 1;
        width: fit-content;
        height: fit-content;
        margin-top: 1em;
        margin-left: 0em;
        margin-right: 0em;
        margin-bottom: 0em;
        padding-top: 0em;
        padding-bottom: 0em;
        padding-left: 0em;
        padding-right: 0em;
        
    }
    
    .pedido1 {
        color: red;
        background-color: gold;
        border-radius: 2em;
        display: inline-block;
        text-align: left;
        grid-column: 1;
        grid-row: 1;
        width: 3.35em;
        height: fit-content;
        margin-top: 0px;
        margin-bottom: 0em;
        margin-left: 0.4em;
        margin-right: 0em;
        padding-top: 0em;
        padding-bottom: 0em;
        padding-left: 0.2em;
        padding-right: 0.2em;
        font-size: 2.5em;
        font-family: Arial, 
        Helvetica, sans-serif;
        text-shadow: 2px 3px black;
    }
    
    .pedido2 {
        color: red;
        background-color: gold;
        border-radius: 2em;
        display: inline-block;
        text-align: left;
        width: 3.95em;
        height: fit-content;
        margin: 0em;
        padding-top: 0em;
        padding-bottom: 0em;
        padding-left: 0.2em;
        padding-right: 0.2em;
        font-size: 2.5em;
        font-family: Arial, 
        Helvetica, sans-serif;
        text-shadow: 2px 3px black;
    }

    .legend2 {
        color: red;
        background-color: gold;
        border-radius: 2em;
        display: inline-block;
        text-align: left;
        width: fit-content;
        height: fit-content;
        margin: 0em;
        padding-top: 0em;
        padding-bottom: 0em;
        padding-left: 0.2em;
        padding-right: 0.2em;
        font-size: 2.5em;
        font-family: Arial, 
        Helvetica, sans-serif;
        text-shadow: 2px 3px black;
    }
    
    .la_pizza {
        border: 2px solid red;
        border-radius: 1em;
        display: inline-block;
        text-align: left;
        grid-column: 1;
        grid-row: 2;
        width: 90%;
        height: fit-content;  
        margin-top: 0em;
        margin-bottom: 0em;
        margin-left: 1em;
        margin-right: 0em;
        padding-top: 0.5em;
        padding-bottom: 0.5em;
        padding-left: 0.5em;
        padding-right: 0.5em;
        text-decoration: underline;
    }
    
    .escoger_pizzas {
        border: 2px solid red;
        border-color: red;
        border-radius: 1em;
        display: inline-block;
        text-align: left;
        grid-column: 2;
        grid-row: 1; 
        width: 88.5%;
        height: fit-content;
        margin-top: 4.9em;
        margin-bottom: 0em;
        margin-left: 0.5em;
        margin-right: 5em;
        padding-top: 0.4em;
        padding-bottom: 0.4em;
        padding-left: 0.4em;
        padding-right: 0.4em; 
    }
    
    .menu_pizzas2 {
        display: inline-block;
        text-align: left;
        grid-column: 1 / span 2;
        grid-row: 2;
        width: fit-content;
        height: auto;
        margin-top: 1em;
        margin-bottom: 0em;
        margin-left: 1em;
        margin-right: 0em;
        padding: 0em;
    }    
}

/****************************************************************************************************/
/****************************************************************************************************/

/* @media only screen and (max-width: 1920px) 
and (min-width: 961px) {
   
} */

.tamanio {
    border: 2px solid red;
    display: grid;
    list-style: none;
    background-color: wheat;
    border-radius: 1.6em;
    font-size: 75%;
    padding: 0.5em;
    text-align: center;
    margin-right: 1em;
}

#pequenia {
    grid-column: 1;
    grid-row: 1;
    text-align: left;
}

.tamanio_pequenia {
    grid-column: 1;
    grid-row: 1;
    text-align: left;
    border-right: 4px solid black;
    padding-right: 6px;
}

#mediana {
    grid-column: 2;
    grid-row: 2;
    text-align: left;
}

.tamanio_mediana {
    grid-column: 2;
    grid-row: 2;
    text-align: left;
    border-right: 4px solid black;
    padding-right: 6px;
}

#grande {
    grid-column: 3;
    grid-row: 3;
    text-align: left;
}

.tamanio_grande {
    grid-column: 3;
    grid-row: 3;
    text-align: left;
    border-right: 4px solid black;
    padding-right: 6px;
}

.tamanio_pequenia,
.tamanio_mediana,
.tamanio_grande {
    margin-top: 0.5em;
}

.tamanio li {
    padding: 0em;
    margin: 0em;
    text-align: center;    
}

@media screen and (max-width: 768px) {
    .tamanio {
        border: 2px solid red;
        display: grid;
        list-style: none;
        background-color: wheat;
        border-radius: 1.6em;
        font-size: 80%;
        padding: 0.5em;
        text-align: center;
        width: 96%;
        height: auto;
        margin-right: 10em;
        /* grid-template-columns: auto auto auto;
        grid-template-rows: auto auto auto; */
    }
    
    #pequena {
        grid-column: 1;
        grid-row: 1;
        text-align: left;
    }

    .tamanio_pequenia {
        grid-column: 1;
        grid-row: 1;
        text-align: left;
        border-right: 4px solid black;
        padding-right: 6px;
        margin-right: 48%;
    }
    
    #mediana {
        grid-column: 2;
        grid-row: 2;
        text-align: left;
        margin-left: 24%;
    }

    .tamanio_mediana {
        grid-column: 2;
        grid-row: 2;
        text-align: left;
        margin-right: 25%;
        border-right: 4px solid black;
        padding-right: 6px;
    }
    
    #grande {
        grid-column: 3;
        grid-row: 3;
        text-align: left;
        margin-left: 42%;
    }

    .tamanio_grande {
        grid-column: 3;
        grid-row: 3;
        text-align: left;
        border-right: 4px solid black;
        padding-right: 6px;
    }
    
    .tamanio_pequenia,
    .tamanio_mediana,
    .tamanio_grande {
        margin-top: 0.5em;
    }

    .tamanio li {
        padding: 0em;
        margin: 0em;
        text-align: center;    
    }
}

/****************************************************************************************************/
/****************************************************************************************************/
/****************************************************************************************************/
/****************************************************************************************************/

.segunda_parte {
    display: grid;
    width: 100%;
    height: auto;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: 0em;
    margin-right: 0em;
    padding-top: 0em;
    padding-bottom: 0em;
    padding-left: 0em;
    padding-right: 0em;
}

.la_cantidad {
    border: 2px solid red;
    border-radius: 1em;
    display: inline-block;
    text-align: left;
    grid-column: 1;
    grid-row: 1;
    width: auto;
    height: fit-content;
    margin-top: 0em;
    margin-bottom: 0em;
    margin-left: 1em;
    margin-right: 0em;
    padding: 0.5em;
    text-decoration: underline;
}

#cantidad {
    background-color: wheat;
    border: 2px solid red;
    border-radius: 1em;
    display: inline-block;
    text-align: left;
    grid-column: 2;
    grid-row: 1;
    width: auto;
    height: 3.5em;
    margin-top: 0em;
    margin-bottom: 0em;
    margin-left: 0.7em;
    margin-right: 0em;
    padding: 0.4em;  
}

.confirmacion {
    visibility: hidden;
    color: gold;
    background-color: red;
    border: 2px solid blueviolet;
    border-radius: 1em;
    display: inline-block;
    text-align: left;
    grid-column: 3;
    grid-row: 1;
    width: fit-content;
    height: 3em;
    margin-top: 0em;
    margin-bottom: 0em;
    margin-left: 0.7em;
    margin-right: 0em;
    padding-top: 0em;
    padding-bottom: 0em;
    padding-left: 5px;
    padding-right: 5px;
    font-weight: bold;
    font-size: 1em;
}

.confirmacion:hover {
    visibility: visible;
    color: aqua;
    background-color: green;    
}

@media screen and (max-width: 768px) {
    .segunda_parte {
        display: grid;
        width: 100%;
        height: auto;
        margin-top: 0.5em;
        margin-bottom: 0.5em;
        margin-left: 0em;
        margin-right: 0em;
        padding-top: 0em;
        padding-bottom: 0em;
        padding-left: 0em;
        padding-right: 0em;
    }
    
    .la_cantidad {
        border: 2px solid red;
        border-radius: 1em;
        display: inline-block;
        text-align: left;
        grid-column: 1;
        grid-row: 1;
        width: auto;
        height: fit-content;
        margin-top: 0em;
        margin-bottom: 0em;
        margin-left: 1em;
        margin-right: 0em;
        padding: 0.5em;
        text-decoration: underline;
    }
    
    #cantidad {
        background-color: wheat;
        border: 2px solid red;
        border-radius: 1em;
        display: inline-block;
        text-align: left;
        grid-column: 2;
        grid-row: 1;
        width: auto;
        height: 3em;
        margin-top: 0em;
        margin-bottom: 0em;
        margin-left: 0.7em;
        margin-right: 0em;
        padding: 0.4em;
    }
    
    .confirmacion {
        visibility: hidden;
        color: gold;
        background-color: red;
        border: 2px solid blueviolet;
        border-radius: 1em;
        display: inline-block;
        text-align: left;
        grid-column: 3;
        grid-row: 1;
        width: fit-content;
        height: 3em;
        margin-top: 0em;
        margin-bottom: 0em;
        margin-left: 0.7em;
        margin-right: 0em;
        padding-top: 0em;
        padding-bottom: 0em;
        padding-left: 5px;
        padding-right: 5px;
        font-weight: normal;
        font-size: 0.8em;
    }
    
    .confirmacion:hover {
        visibility: visible;
        color: aqua;
        background-color: green;    
    }    
}

/****************************************************************************************************/
/****************************************************************************************************/
/****************************************************************************************************/
/****************************************************************************************************/

.carta {
    margin-top: 0.8em;
    margin-bottom: 0em;
    margin-left: 0em;
    margin-right: 0em;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 1.5em;
    padding-right: 1.5em;
    background-color: wheat;
    /* border-radius: 1.6em; */
    border-top-left-radius: 2em;
    border-top-right-radius: 2em;
    border-bottom-left-radius: 2.7em;
    border-bottom-right-radius: 2.7em;
    font-size: 90%;
    text-align: left;
    display: grid;
    list-style: none;
    grid-template-columns: repeat(2);
}

.carta_pizzas {
    grid-column: 1 / 2;
    grid-row: 1;
    text-align: left;
}

.carta_pizzas p {
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    padding-left: 0.2em;
    padding-right: 10em;
}

.pizza_carta {
    /* width: 300px; */
    max-width: 45%;
    min-width: 22em;
    height: auto;
    border-radius: 2em;
    text-align: center;
}

.carta li {
    padding: 0em;
    margin: 0em;
}

.imagen_pizzas {
    max-width: 100%;
    height: auto;
    grid-column: 2 / 2;
    grid-row: 1;
    text-align: center;
    border-left: 8px solid gold;
}

@media screen and (max-width: 768px) {
    .carta {
        margin-top: 0.8em;
        margin-bottom: 0em;
        margin-left: 0em;
        margin-right: 0em;
        padding-top: 1em;
        padding-bottom: 1em;
        padding-left: 1.5em;
        padding-right: 1.5em;
        background-color: wheat;
        border-radius: 2.35em;
        font-size: 1em;
        text-align: left;
        display: grid;
        list-style: none;
        width: 100%;
        height: auto;
    }
    
    .carta_pizzas {
        grid-column: 1;
        grid-row: 2;
        text-align: left;
        margin: 0em;
        padding: 0em;
    }
    
    .carta_pizzas p {
        padding-top: 0.2em;
        padding-bottom: 0.2em;
        padding-left: 0.2em;
        padding-right: 0.2em;
        margin: 0em;
    }
    
    .pizza_carta {
        /* width: 300px; */
        max-width: 45%;
        min-width: 12em;
        height: auto;
        border-top-left-radius: 2em;
        border-top-right-radius: 2em;
        border-bottom-left-radius: 3em;
        border-bottom-right-radius: 3em;
        text-align: center;
        padding-top: 0em;
        padding-bottom: 0.4em;
        padding-left: 0em;
        padding-right: 0em;
        margin: 0em;
    }

    /* .carta li {
        padding: 0em;
        margin: 0em;
    } */
    
    .imagen_pizzas {
        max-width: 100%;
        height: auto;
        grid-column: 1;
        grid-row: 1;
        text-align: center;
        border-top: none;
        border-bottom: 6px solid gold;
        border-left: none;
        border-right: none;
    }
}

/****************************************************************************************************/
/****************************************************************************************************/
/****************************************************************************************************/
/****************************************************************************************************/

.clientito {
    display: grid;
    list-style: none;
    background-color: wheat;
    border-radius: 1.6em;
    font-size: 1.5em;
    padding: 1em;
    text-align: center;
    /* align-items: center;
    justify-content: center; */
    /* grid-template-columns: 1fr 1fr; */
}

.clientito li {
    padding: 0em;
    margin-top: 0em;
    margin-bottom: 1em;
    margin-left: 0em;
    margin-right: 0em;
    text-align: center;    
}

.el_cliente {
    grid-column: 1 / 4;
    grid-row: 1;
}

#cliente {
    grid-column: 2 / 4;
    grid-row: 1;
    margin-right: 10%;
    width: 25%;
    background-color: gold;
    padding-left: 0.4em;
    padding-right: 0.4em;
    height: 2em;
}

.movil {
    grid-column: 3 / 4;
    grid-row: 1;
}

#telefono {
    grid-column: 4 / 4;
    grid-row: 1;
    width: 25%;
    background-color: gold;
    padding-left: 0.4em;
    padding-right: 0.4em;
    height: 2em;
}

@media screen and (max-width: 768px) {
    .clientito {
        display: grid;
        list-style: none;
        background-color: wheat;
        border-radius: 1.6em;
        font-size: 1.5em;
        padding: 1em;
        /* grid-template-columns: 1fr 1fr; */
    }
    
    .clientito li {
        padding: 0em;
        margin-top: 0em;
        margin-bottom: 1em;
        margin-left: 0em;
        margin-right: 0em;
        text-align: center;    
    }
    
    .el_cliente {
        grid-column: 1;
        grid-row: 1;
        text-align: left;
    }
    
    #cliente {
        grid-column: 1;
        grid-row: 2;
        width: 100%;
        background-color: gold;
        padding-left: 0.4em;
        padding-right: 0.4em;
        height: 2em;
    }
    
    .movil {
        grid-column: 1;
        grid-row: 3;
        text-align: left;
    }
    
    #telefono {
        grid-column: 1;
        grid-row: 4;
        width: 100%;
        background-color: gold;
        padding-left: 0.4em;
        padding-right: 0.4em;
        height: 2em;
    }
}

/****************************************************************************************************/
/****************************************************************************************************/

/* .container3 {

}

.address {

} */

#direccion {
    background-color: gold;
    width: 60%;
}

.realizar {
    color: gold;
    background-color: red;
    width: fit-content;
    height: 2em;
    font-size: 1em;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 0px;
    padding-bottom: 0px;
    border-radius: 1em;
    border: 2px solid blueviolet;
    display: inline-block;
    margin: 0 auto;
}

.realizar:hover {
    color: aqua;
    background-color: green;
}

/****************************************************************************************************/
/****************************************************************************************************/
/****************************************************************************************************/
/****************************************************************************************************/

.redes_sociales {
    border-top-left-radius: 4em;
    border-top-right-radius: 4em;
    display: grid;
    text-align: center;
    background: linear-gradient(
        -45deg, green, wheat, red
    );
    background-size: 400% 400%;
    animation: gradient 5s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.foto1 {
    grid-column: 1;
    grid-row: 1;
}

.twitter {
    border-radius: 2.5em;
}

.foto2 {
    grid-column: 2;
    grid-row: 1;
}

.instagram {
    border-radius: 2.5em;
}

.foto3 {
    grid-column: 3;
    grid-row: 1;
}

.facebook {
    border-radius: 2.5em;
}

/****************************************************************************************************/
/****************************************************************************************************/
/****************************************************************************************************/
/****************************************************************************************************/

/* .datos {
    margin-right: 10px;
    margin-top: 10px;
    background-color: wheat;
    font-weight: bold;
    font-size: 1em;
    border-radius: 20px;
    margin-bottom: 2%;
}

.n_pizzas, .precio_total {
    margin-top: 15px;
} */